<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      <title>Document</title>

      <script>
            function save_perkalian() {
                  let bil1 = $('#bil1').val();
                  let bil2 = $('#bil2').val();
                  $.ajax({
                        type: "POST",
                        url: "/perkalian",
                        data: {
                              "bil1": bil1,
                              "bil2": bil2
                        },
                        success: function (response) {
                              alert(response['message']);
                        }
                  })
            }
      </script>
</head>

<body>

      <h2 class="d-flex justify-content-center mt-3 text-uppercase">Kalkulator Perkalian</h2>
      <div class="d-flex justify-content-center">
            <div class="w-30 mt-3">
                  <label class="form-label text-uppercase"><b>Number 1:</b></label>
                  <input type="number" class="form-control" id="bil1">
                  <label class="form-label text-uppercase"><b>Number 2:</b></label>
                  <input type="number" class="form-control" id="bil2">
                  <div class="d-flex justify-content-center mt-2">
                        <a href="/" class="btn btn-secondary me-3 text-white"><i class="bi bi-chevron-left"></i></a>
                        <button onclick="save_perkalian()" class="btn btn-danger p-2">Submit </button>
                        <a href="/pengurangan" class="btn btn-secondary ms-3 text-white"><i class="bi bi-chevron-right"></i></a>
                  </div>
            </div>
      </div>
</body>

</html>